.form-field {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
}

.comment-form {
    width: 25%;
}

.comment-section {
    margin: 0 auto;
    background-color: #f1e3e3;
    padding: 40px;
    border-radius: 5px;
}

.comment-section label {
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
}

.comments h3 {
    margin-bottom: 25px;
}

.comments h5 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}