{% extends 'shared/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={% static 'common/css/forms.css' %}>
{% endblock %}
{% block scripts %}
    <script defer src="{% static 'common/js/forms.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Edit pet photo</h1>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn" type="submit">Edit</button>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}